/*=============================
=            FONTS            =
=============================*/
@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');




/*================================
=            BASE CSS            =
================================*/
* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.force-gpu * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
body {
    font-family: 'Bebas Neue';
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
section, header, footer, main, article, nav, aside {
    position: relative;
}
a {
    color: #b300b3;
    outline: none !important;
   
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    font-weight: bold;
    text-decoration-line: underline;
}
a:hover, a:focus {
    color: #000000;
}
p {
    color: #4A5666;
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 30px;
    font-weight: 400;
}
input {

}
input, textarea  {
    letter-spacing: -.02em;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 20px;
}
h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
::selection {
    background: rgb(255, 255, 43);
    color: #222;
}
::-moz-selection {
    background: rgb(255, 255, 43);
    color: #222;
}
.ScrollSceneIndicators { z-index: 9999999 !important; }









/*==============================
=            TOPPER            =
==============================*/
#topper {
    background-color: rgba(0, 0, 15, 1);
}
#topper:before, #topper:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 90%;
    –webkit-background-size: 100%;
    –moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    opacity: 0;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    transition: all 700ms ease;
}
#topper:before { background-image: url('../img/topper-background-2.jpg'); }
#topper:after { background-image: url('../img/topper-mountain.png'); }
.show-background #topper:before { opacity: 0.3; }
.show-background #topper:after { opacity: 1; }
#topper .contents {
    height: 100vh;
    min-height: 700px;
    position: relative;
}
#topper canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    transition: all 2000ms ease;
    opacity: 0;
}
.show-stars #topper canvas {
    opacity: 1;
}

.hide-those-stars #topper canvas { display: none !important; }

#topper .wrap {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: right;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 77777777;
    width: 100%;
}
#topper h1 {
    margin: 0;
}
#topper h1 span {
    display: block;
    transform-origin: 0 50%;
    color: #fff;
    line-height: 100%;
    opacity: 0;
    background: #ff3535; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#topper h1 span.line-1 {
    font-weight: 700;
    font-size: 100px;
    display: block;
    float: right;
}
#topper h1 span.line-2 {
    display: inline-block;
    font-size: 125px;
    font-weight: 300;
}
.brand {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    –moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 7777777;
}
.hover-blocks {
    width: 60%;
    position: absolute;
    top: 41%;
    left:8%;
}
.hover-block {
    float: left;
    height: 84px;
    display: block;
   
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.hover-block.d { width: 12.5%; }
.hover-block.i-1 {width:12.5%; }
.hover-block.g { width: 12.5%; }
.hover-block.i-2 { width: 12.5%; }
.hover-block.t { width: 12.5%; }
.hover-block.a { width: 12.5%; }
.hover-block.l { width: 12.5%; }
.hover-block.e {width: 12.5%;}

.brand svg {
    width: 100%;
    opacity: 0;
    -webkit-transition: all 400ms ease 500ms;
    -moz-transition: all 400ms ease 500ms;
    transition: all 400ms ease 500ms;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(-50%);
    -moz-transform: translateZ(0) translateX(-50%);
    -ms-transform: translateZ(0) translateX(-50%);
    -o-transform: translateZ(0) translateX(-50%);
    transform: translateZ(0) translateX(-50%);
    display: block;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
}

.brand svg new {
    width: 100%;
    opacity: 0;
    -webkit-transition: all 400ms ease 500ms;
    -moz-transition: all 400ms ease 500ms;
    transition: all 400ms ease 500ms;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(-50%);
    -moz-transform: translateZ(0) translateX(-50%);
    -ms-transform: translateZ(0) translateX(-50%);
    -o-transform: translateZ(0) translateX(-50%);
    transform: translateZ(0) translateX(-50%);
    display: block;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 60%;
}

.show-background .brand svg {
    opacity: 1;
}
.brand svg * { fill: #fff; }
.brand svg rect {
    -webkit-transition: all 1500ms cubic-bezier(.17,.67,0,1.34);
    -moz-transition: all 1500ms cubic-bezier(.17,.67,0,1.34);
    transition: all 1500ms cubic-bezier(.17,.67,0,1.34);
}
.brand svg .word-digital g.letter {
    transform: scale(0) translateZ(0);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;


    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}
.brand svg .word-digital g.letter.d { transition-delay: 200ms; }
.brand svg .word-digital g.letter.i-1 { transition-delay: 300ms; }
.brand svg .word-digital g.letter.g { transition-delay: 400ms; }
.brand svg .word-digital g.letter.i-2 { transition-delay: 500ms; }
.brand svg .word-digital g.letter.t { transition-delay: 600ms; }
.brand svg .word-digital g.letter.a { transition-delay: 700ms; }
.brand svg .word-digital g.letter.l { transition-delay: 800ms; }
.show-stars .brand svg .word-digital g.letter {
    -webkit-transform: scale(1) translateZ(0);
    –moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1;
}





/*=============================
=            BLURB            =
=============================*/
#blurb {
    padding: 150px 0 300px;
    background: #02000a;
}
#blurb:before {
    content: ' ';
    display: block;
    height: 400px;
    width: 100%;
    background: #02000a;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 1;
    overflow: hidden;
}
#blurb .contents {
    position: relative;
    z-index: 8;
}
#blurb h2 {
    color: #fff;
    text-align: left;
    font-size: 100px;
}
#blurb h2 span {
    display: block;
    line-height: 77%;

}
#blurb h2 span.line-1 {
    font-weight: 200;
    font-size: 100px;
    line-height: 100%;

}
#blurb h2 span.line-2 {
    font-weight: 300;
    font-size: 155px;
}
#blurb h2 span.line-3 {
    font-weight: 700;
    font-size: 185px;
    margin-top: 6px;
}
#blurb hr {
    border: none;
    height: 1px;
    width: 300px;
    margin: 30px 0 25px;
    background: #ff3535; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 ); /* IE6-9 */
}
#blurb p {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-right: 15%;
    line-height: 43px;
    color: rgb(214, 216, 255);
    margin: 0;
}
#blurb p strong {
    font-weight: 400;
}





/*===================================
=            OUR PROCESS            =
===================================*/
#our-process {
    text-align: center;
    background: rgb(90, 88, 255);
}
#our-process:before {
    content: ' ';
    display: block;
    height: 400px;
    width: 100%;
    background: rgb(90, 88, 255);
    -webkit-transform: skewY(3deg) translateZ(0);
    -moz-transform: skewY(3deg) translateZ(0);
    -ms-transform: skewY(3deg) translateZ(0);
    -o-transform: skewY(3deg) translateZ(0);
    transform: skewY(3deg) translateZ(0);
    position: absolute;
    left: 0;
    bottom: -50px;
    overflow: hidden;
    z-index: 88;
}
#our-process .huge-town {
    color: rgba(46, 0, 145, 1);
    position: absolute;
    right: 0;
    bottom: -40px;
    text-align: right;
    font-size: 554px;
    line-height: 73%;
    font-weight: 700;
    opacity: 0.5;
    z-index: 888888;
}
#our-process .huge-town span {
    display: block;
    letter-spacing: -0.04em;
}
#our-process .contents {
    position: relative;
    height: 800px;
    z-index: 777777777;
}
#our-process .contents .wrap {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 77777777;
}
#our-process .step {
    opacity: 0.4;
}
#our-process span.icon {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: #00D2C1;
    font-size: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    border: solid 3px #fff;
}
#our-process span.icon.think { color: #FF6E6E; }
#our-process span.icon.design { color: #FFB446; }
#our-process span.icon.engineer { color: #003267; }
#our-process span.icon.execute { color: #5200C9; }
#our-process span.icon:before {
    display: block;
    content: ' ';
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    background: #fff;
}
#our-process span.icon:hover, #our-process span.icon.active {
    color: #fff;
    background: transparent;
}
#our-process span.icon:hover:before, #our-process span.icon.active:before {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.25);
    -moz-transform: translate(-50%, -50%) scale(1.25);
    -ms-transform: translate(-50%, -50%) scale(1.25);
    -o-transform: translate(-50%, -50%) scale(1.25);
    transform: translate(-50%, -50%) scale(1.25);
}
#our-process span.icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 88;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}
#our-process h3 {
    font-size: 60px;
    color: #fff;
    letter-spacing: 0.05em;
}
#our-process h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
}
#our-process h4.active { opacity: 1; }
#our-process h4 i {
    font-size: 9px;
    color: rgb(255, 146, 146);
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -m-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transform: translateY(-14px);
    display: inline-block;
}
#our-process h4 span {
    margin: 0 5px;
}









/*====================================
=            OUR SERVICES            =
====================================*/
#our-services:before {
    background-image: -webkit-linear-gradient(125deg, #1cbaeb 7%, #ff0000 90%);
    background-image: linear-gradient(325deg, #1cbaeb 7%, #ff0000 90%);
    opacity: 0.475;
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  
}
#our-services span.bg-img {
    background-image: url('../img/background-services.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#our-services span.bg-img.blurry {
    background-image: url('../img/background-services-blur.jpg');
}
#our-services .contents {
    z-index: 9999999;
    position: relative;
    height: 1100px;
}
#our-services h2 {
    position: absolute;
    top: 47%;
    color: #fff;
    font-size: 235px;
    font-weight: 200;
    margin: 0;
    text-align: left;
    line-height: 190px;
    margin-top: -8px;
}

#our-services h3 {
    font-size: 60px;
    color: #fff;
    letter-spacing: 0.05em;;

}
#our-services h2 span.services { font-weight: 300; }
#our-services .list ul {
    right: 0;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 47%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    margin-right: 20px;
}



/*==============================
=            LATEST            =
==============================*/
#latest { text-align: right; }
#latest .contents {
    position: relative;
    z-index: 99999999;
}
#latest .contents a {
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#latest .contents a.first:before {
    position: absolute;
    top: -50px;
    left: 0;
    display: block;
    content: ' ';
    width: 100%;
    height: 100px;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
#latest .contents a.last:before {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: block;
    content: ' ';
    width: 100%;
    height: 100px;
    -webkit-transform: skewY(3deg) translateZ(0);
    -moz-transform: skewY(3deg) translateZ(0);
    -ms-transform: skewY(3deg) translateZ(0);
    -o-transform: skewY(3deg) translateZ(0);
    transform: skewY(3deg) translateZ(0);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
#latest .contents a .wrap {
    position: relative;
    display: block;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    padding: 0 50px 0 20%;
}
#latest .contents a .wrap, #latest .contents a:before, #latest .contents a:before { background: #232323; }
#latest .contents a:hover .wrap, #latest .contents a:hover:before, #latest .contents a:hover:before { background: rgb(255, 109, 109); }
#latest .contents a.first .wrap { padding-bottom: 50px; padding-top: 50px; }
#latest .contents a.middle .wrap { padding-top: 75px; padding-bottom: 75px; }
#latest .contents a.last .wrap { padding-top: 50px; padding-bottom: 50px; }

#latest a:hover h4, #latest a:hover h2, #latest a:hover p {
    color: #fff;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
#latest a h4 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
#latest a h2 {
    margin: 0;
    color: #fff;
    font-size: 70px;
    font-weight: 300;
}
#latest a p {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

#latest h2.title {
    position: absolute;
    top: 50%;
    left: 0;
    color: #000;
    z-index: 888888888;
    transform: translateY(-50%) rotate(90deg);
    font-size: 150px;
    left: -293px;
    opacity: 0.1;
    margin: 0;
}








/*===============================
=            CONTACT            =
===============================*/
::placeholder {
    color: #C8A4FF;
}
::-webkit-input-placeholder {
    color: #C8A4FF;
}
::-moz-placeholder {
    color: #C8A4FF;
}
:-ms-input-placeholder {
    color: #C8A4FF;
}
#contact {
    background: #7D41FF;
    background-image: -webkit-linear-gradient(35deg, #00009a, #b300b3);
    background-image: linear-gradient(35deg, #00009a, #b300b3);
    padding: 350px 0 500px;
}
#contact:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 255, 44, 0.67);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    opacity: 0;
}
#contact.success:before { opacity: 1; }
#contact .contact-form {
    text-align: right;
    position: relative;
    z-index: 999999999999999;
}
#contact .huge-container {
    position: relative;
}
#contact canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 0;
}
.hide-those-particles #contact canvas { display: none !important; }
#contact .input-wrap {
    position: relative;
    height: 60px;
    margin-bottom: 10px;
}
#contact .input-wrap.textarea {
    height: 300px;
}
#contact .select-wrap {
    position: relative;
    z-index: 999999;
}
#contact .input-wrap input, #contact .input-wrap select {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    position: absolute;
    left: 3%;
    width: 94%;
    height: 53px;
    z-index: 9999;
    margin-top: 3px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.03em;
    color: #fff;
    background: rgb(64, 20, 112);
    z-index: 9999999;
}
#contact .input-wrap textarea {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 3%;
    width: 94%;
    display: block;
    padding: 7px;
    height: 300px;
    font-weight: 300;
    background: rgb(64, 20, 112);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 29px;
    resize: none;
    z-index: 9999;
}
#contact .input-wrap svg {
    position: absolute;
    top: -9px;
    left: 0;
    height: 78px;
}
#contact .input-wrap.textarea svg {
    height: 410px;
    top: -54px;
}
#contact .input-wrap.checkbox {
    margin-top: 35px;
}
#contact .input-wrap.checkbox input {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    opacity: 0;
}
#contact .input-wrap.checkbox svg {
    width: 45px;
    height: 55px;
    left: auto;
    right: 19px;
}
#contact .input-wrap.checkbox label {
    padding-right: 53px;
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    margin-top: 2px;
    z-index: 9999999;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#contact .input-wrap.checkbox i {
    color: rgb(180, 255, 180);
    font-size: 30px;
    z-index: 99999;
    position: absolute;
    right: 26px;
    top: 3px;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    display: block;
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
#contact .input-wrap.checkbox i.ti-control-stop { opacity: 0; font-size: 32px; }
#contact .input-wrap svg path {
    fill: rgb(64, 20, 112);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
#contact .input-wrap.checkbox.nopeee svg path { fill: #e3e3e3; }
#contact .input-wrap.checkbox.nopeee i { color: rgb(255, 120, 126); }
#contact .input-wrap.checkbox.nopeee i.ti-control-stop {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#contact .input-wrap.checkbox.nopeee i.ti-check-box {
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#contact h2 {
    margin: 0;
    color: #fff;
    line-height: 135px;
    text-align: right;
    z-index: 10;
    position: relative;
}
#contact h2 span {
    display: inline-block;
}
#contact h2 span.lets {
    font-weight: 200;
    font-size: 175px;
    margin-top: -1px;
}
#contact h2 span.chat {
    font-size: 265px;
}
#contact p.lead {
    margin: 0;
    color: rgb(233, 214, 255);
    text-align: right;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-top: 51px;
    z-index: 10;
    position: relative;
}
#contact p.lead a { color: #fff; }
#contact p.lead a:hover { color: rgb(162, 255, 176); }

#contact .input-wrap.submit input {
    background: rgb(206, 136, 255);
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    font-family: 'Bebas Neue';
}
#contact .input-wrap.submit svg path { fill: rgb(206, 136, 255);; }
#contact .input-wrap.submit input:hover { background: rgb(162, 255, 176); color: #000; }
#contact .input-wrap.submit input:hover ~ span svg path { fill: rgb(162, 255, 176); }
.form-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: -100;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}
.show-form-overlay .form-overlay {
    z-index: 9999999999;
    opacity: 0.9;
}
#contact .input-wrap.has-error input, #contact .input-wrap.has-error textarea { background: rgb(255, 60, 60); }
#contact .input-wrap.has-error svg path { fill: rgb(255, 60, 60); }
#contact:after {
    content: ' ';
    display: block;
    height: 200px;
    width: 100%;
    background: #0B0021;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    left: 0;
    bottom: -100px;
    overflow: hidden;
    z-index: 88;
}













/*==============================
=            FOOTER            =
==============================*/
#footer {
    padding-top: 70px;
    background: #0B0021;
}
#footer canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
#footer .brand {
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}
#footer .brand svg {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    max-width: 336px;
}
#footer .logo {
    text-align: left;
    z-index: 999999;
    position: relative;
}
#footer .logo p {
    text-align: center;
    margin: 10px 0 150px;
    display: inline-block;
    background: #ff3535; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    letter-spacing: 0.05em;
}
#footer .copyright {
    text-align: right;
}
#footer .copyright span {
    font-size: 17px;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: #C9C9C9;
    font-family: 'Open Sans', sans-serif;
}
#footer .copyright span.separator {
    font-size: 10px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    display: inline-block;
    margin: 0 10px;
    color: rgb(255, 126, 126);
}
#footer .copyright a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
#footer .copyright a:hover {
    color: rgb(162, 255, 176);
}
#footer hr {
    border: none;
    height: 1px;
    margin: 12px 0 5px;
    background: #ff3535;
    background: -moz-linear-gradient(left, #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff));
    background: -webkit-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: -o-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: -ms-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: linear-gradient(to right, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 );
    width: 169px;
    margin: 8px 0 8px auto;
}









/*==================================
=            KEY FRAMES            =
==================================*/
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}



/*=====================================
=            MEDIA QUERIES            =
=====================================*/
    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #our-process .huge-town {
            bottom: 65px;
            font-size: 416px;
        }
        #contact h2 span.chat {
            font-size: 215px;
        }
        #footer .logo p {
            font-size: 21px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        #blurb h2 span.line-2 { font-size: 125px; }
        #blurb h2 span.line-3 { font-size: 160px; }
        #blurb p {
            font-size: 33px;
        }

        #our-process .step {
            margin-bottom: 25px;
        }
        #our-process h4 {
            -webkit-transform: translateY(110px);
            -moz-transform: translateY(110px);
            -ms-transform: translateY(110px);
            -o-transform: translateY(110px);
            transform: translateY(110px);
        }
        #our-services h2 {
            top: 47%;
            font-size: 190px;
            line-height: 160px;
            margin-top: 23px;
        }
        #latest a h4 { font-size: 37px; }
        #latest a h2 { font-size: 54px; }
        #latest a p {
            margin: 10px 0 0;
            font-size: 35px;
        }
        #contact {
            padding: 200px 0 300px;
        }
        #contact h2 {
            line-height: 85px;
        }
        #contact h2 span.lets {
            font-size: 100px;
        }
        #contact h2 span.chat {
            font-size: 163px;
        }
        #contact p.lead {
            letter-spacing: 0;
            font-size: 31px;
            line-height: 39px;
            margin-top: 133px;
        }
        #footer { padding-bottom: 70px; }
        #footer .logo {
            text-align: center;
        }
        #footer .logo p {
            font-size: 42px;
            margin-top: 25px;
        }
        #footer .copyright {
            text-align: center;
        }
        #footer hr {
            margin: 15px auto;
        }
        #footer .brand svg { max-width: 100%; }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        section { overflow: hidden; }
        canvas { display: none !important; }
        #topper { height: auto !important; }
        .brand svg {
            padding: 0 15px;
        }
        .scrollmagic-pin-spacer { padding: 0 !important; }
        #topper { position: relative !important; }
        #blurb h2 { text-align: center; }
        #blurb h2 span, #blurb hr {
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
            opacity: 1 !important;
        }
        #blurb hr {
            margin-left: auto;
            margin-right: auto;
        }
        #blurb p {
            text-align: center;
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
            opacity: 1 !important;
            padding: 0;
        }
        #our-process .huge-town { display: none; }
        #our-services .list ul, #our-services h2, #our-services span.bg-img {
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
            opacity: 1 !important;
        }
        #our-services span.bg-img.normal { display: none; }
        #blurb h2 span.line-1 { font-size: 75px; }
        #blurb h2 span.line-2 { font-size: 100px; }
        #blurb h2 span.line-3 { font-size: 100px; }
        #our-process h4 { display: none; }
        #our-process .step { opacity: 1 !important; }

        #our-services { padding: 200px 0; }
        #our-services .contents { height: auto; width: 100%; text-align: center; margin-bottom: 25px;  }
        #our-services h2, #our-services .list ul { position: static; width: 100%; margin: 0; padding: 0; text-align: center; }
        #our-services h2 {
            font-size: 146px;
            line-height: 120px;
        }
        #latest h2.title { display: none; }
        #latest .contents a .wrap { padding: 50px 15px; text-align: center; }

        #contact h2 { line-height: 120px; }
        #contact h2 span {
            display: block;
            text-align: center;
        }
        #contact h2 span.lets {
            font-size: 140px;
            line-height: 140px;
        }
        #contact p.lead { text-align: center; font-size: 27px; line-height: 31px; margin-bottom: 15px; margin-top: 50px; }
        #contact .col-sm-5 { padding: 0 7%; }
        #contact h2 span, #contact .input-wrap {
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
        }
        #footer .copyright span.icons, #footer hr { display: none; }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        #blurb h2 span.line-1 { font-size: 55px; }
        #blurb h2 span.line-2 { font-size: 65px; }
        #blurb h2 span.line-3 { font-size: 65px; }
        #blurb p {
            font-size: 22px;
            line-height: 29px;
        }
        #our-process .contents { height: auto; }
        #our-process .contents .wrap {
            position: static;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
        #our-process .step { width: 100%; }
        #our-services h2 {
            font-size: 104px;
            line-height: 86px;
        }
        #latest a h4 { font-size: 24px; }
        #latest a h2 {
            font-size: 34px;
            line-height: 40px;
        }
        #latest a p { font-size: 25px; }
        #contact p.lead { font-size: 20px; }
        #contact .input-wrap.checkbox label { font-size: 24px; }
        #footer .logo p {
            font-size: 19px;
            margin-top: 7px;
            margin-bottom: 50px;
        }
        #blurb { padding: 100px 0 150px; }
        #our-process, #our-services, #contact { padding: 100px 0; }
        #contact { padding-bottom: 200px; }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }


#mobileViewSACGYM {
    display: none;
}

#mobileViewBot {
    display: none;
}

#mobileViewSAC {
    display: none;
}

#mobileViewFollowapp {
    display: none;
}


@media only screen and (max-width:991px)
{
    #mobileViewSACGYM {
        display: none;
    }

    #mobileViewBot {
        display: none;
    }

    #mobileViewSAC {
        display: none;
    }

    #mobileViewFollowapp {
        display: none;
    }
}
@media only screen and (max-width:767px)
{
    #mobileViewSACGYM {
        display: none;
    }

    #mobileViewBot {
        display: none;
    }

    #mobileViewSAC {
        display: none;
    }

    #mobileViewFollowapp {
        display: none;
    }
}

@media only screen and (max-width:575px)
{
    #WebViewSACGYM {
        display: none;
    }
    #WebViewSAC {
        display: none;
    }
    #WebViewBot {
        display: none;
    }
    #WebViewFollowapp {
        display: none;
    }
    #mobileViewSACGYM {
        display: block;
    }

    #mobileViewBot {
        display: block;
    }

    #mobileViewSAC {
        display: block;
    }

    #mobileViewFollowapp {
        display: block;
    }

}