/* Importación de la fuente Staatliches */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Estilos generales de la página */
body, html {
  height: 100%;
  margin: 0;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  overflow: hidden;
}

.page-header {
  position: relative;
  width: 100%;
  height: 370px; /* Ajusta la altura del banner según sea necesario */
  background-color: #e5e7eb;
  background-image: url("/img/banner.jpg"); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
  margin-bottom: 0rem; /* Espacio inferior */
}

.page-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  opacity: 0.4;
  z-index: 1;
}

.container {
  min-height: calc(100vh - 204px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px; /* Aumentar el padding */
  background: #edf2f7;
  margin-top: -110px; /* Ajustar este valor para subir el login */
}

.card {
  max-width: 540px; /* Aumentar el tamaño máximo */
  width: 100%;
  padding: 40px; /* Aumentar el padding */
  border-radius: 8px; /* Ajustar el borde redondeado */
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  overflow-y: auto; 
}

.card img {
  display: block;
  margin: 0 auto 30px; /* Aumentar el margen inferior */
  height: 180px; /* Aumentar la altura de la imagen */
}

.card h2 {
  padding: 0;
  font-size: 32px; /* Aumentar el tamaño de fuente */
  color: #EF4444;
  margin-bottom: 16px; /* Aumentar el margen inferior */
}

.form-group {
  margin-bottom: 30px; /* Aumentar el margen inferior */
}

.form-group label {
  display: block;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  color: #4b5563;
  margin-bottom: 16px; /* Aumentar el margen inferior */
  font-family: 'Staatliches', sans-serif;
}

.form-group input {
  width: 100%;
  padding: 1em; /* Aumentar el padding */
  border-radius: 6px; 
  border: 1px solid #d1d5db;
  font-size: 16px; /* Aumentar el tamaño de fuente */
  box-sizing: border-box; 
}

.form-group input:focus {
  border-color: #1d4ed8;
  outline: none;
}

.forgot-password-link {
  display: block;
  color: #ef4444;
  font-weight: 600; 
  text-decoration: none;
  margin-top: 24px; /* Aumentar el margen superior */
  font-size: 18px; /* Aumentar el tamaño de fuente */
  line-height: 1.3; 
  text-align: center;
}

.forgot-password-link:hover {
  color: #dc2626;
}

.submit-button {
  width: 100%;
  padding: 18px; /* Aumentar el padding */
  border-radius: 6px; 
  background-color: #ef4444;
  color: white;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #dc2626;
}

.footer-text {
  margin-top: 20px; /* Aumentar el margen superior */
  font-size: 16px; /* Aumentar el tamaño de fuente */
  color: #9ca3af;
}

.footer-text a {
  color: #ef4444;
  font-weight: 600; 
  text-decoration: none;
}

.footer-text a:hover {
  color: #dc2626;
}

@media (max-width: 768px) {
  .container {
    padding: 24px; /* Ajustar el padding */
  }

  .card {
    max-width: 360px; /* Ajustar el tamaño máximo */
    padding: 30px; /* Ajustar el padding */
  }

  .card img {
    height: 150px; /* Ajustar la altura de la imagen */
    margin-bottom: 24px; /* Ajustar el margen inferior */
  }

  .card h2 {
    font-size: 28px; /* Ajustar el tamaño de fuente */
    margin-bottom: 16px; /* Ajustar el margen inferior */
  }

  .form-group label {
    font-size: 16px; /* Ajustar el tamaño de fuente */
    margin-bottom: 12px; /* Ajustar el margen inferior */
  }

  .form-group input {
    font-size: 14px; /* Ajustar el tamaño de fuente */
    padding: 0.75em; /* Ajustar el padding */
  }

  .forgot-password-link {
    font-size: 16px; /* Ajustar el tamaño de fuente */
    margin-top: 18px; /* Ajustar el margen superior */
  }

  .submit-button {
    font-size: 16px; /* Ajustar el tamaño de fuente */
    padding: 16px; /* Ajustar el padding */
  }

  .footer-text {
    font-size: 14px; /* Ajustar el tamaño de fuente */
    margin-top: 16px; /* Ajustar el margen superior */
  }
}
