/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importación de Tailwind CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css');

/* Media query para pantallas de hasta 1520px */
@media (max-width: 1520px) {
    .left-svg {
        display: none;
    }
}

/* Estilos para el botón de cierre del menú móvil */
#nav-mobile-btn.close span:first-child,
#nav-mobile-btn.close span:nth-child(2) {
    background: #a0aec0;
}

#nav-mobile-btn.close span:first-child {
    transform: rotate(45deg);
    top: 4px;
    position: relative;
}

#nav-mobile-btn.close span:nth-child(2) {
    transform: rotate(-45deg);
    margin-top: 0px;
}
